<div class="p-4">
  <div class="flex flex-row select-none">
    <div
      class="top cursor-pointer mb-8"
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="text-3xl text-red-500">
        <fa-icon [icon]="faRedditAlien"></fa-icon>
      </span>
      <span class="text-3xl font-bold text-red-500"> Reddit</span>
      <span class="text-3xl font-light"> AMA</span>
    </div>
    <div class="flex-grow text-end">
      <span class="mr-3 text-2xl text-red-400 align-middle dark:text-slate-600 cursor-pointer select-none" (click)="toggleDarkMode()">
        <fa-icon [icon]="faCircleHalfStroke"></fa-icon>
      </span>
      <!--
        <span class="ml-3 text-2xl text-red-400 dark:text-slate-600 align-middle select-none">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </span>
      -->
      <input
        type="search"
        class="dark:bg-slate-700 rounded p-2 w-48 shadow"
        placeholder="Search"
        [(ngModel)]="searchQuery"
        (keyup.enter)="search()"
      />
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="footer">
    <div class="text-sm text-center mt-8 text-gray-500 font-light">
      Made with love by
      <a href="https://twitter.com/h4ck4life" target="_blank">@h4ck4life</a>
    </div>
  </div>
</div>
