<div class="p-6">
  <div
    class="top cursor-pointer"
    routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <span class="text-3xl text-red-500">
      <fa-icon [icon]="faRedditAlien"></fa-icon>
    </span>
    <span class="text-3xl font-bold text-red-500"> Reddit</span>
    <span class="text-3xl font-light"> AMA</span>
  </div>

  <router-outlet></router-outlet>

  <div class="footer">
    <div class="text-sm text-center mt-8 text-gray-500 font-light">
      Made with love by
      <a href="https://twitter.com/h4ck4life" target="_blank">@h4ck4life</a>
    </div>
  </div>
</div>
