<div *ngIf="isRandomAMALoaded; else elseBlock" class="middle">
  <!-- Title -->
  <div class="mt-6 flex flex-row">
    <span class="font-semibold text-red-500">Title</span>
    <div class="flex-grow text-right truncate">
      <span class="text-sm text-gray-400 italic">{{ reddit.timestamp }}</span>
    </div>
  </div>
  <div class="" [innerHTML]="reddit.title"></div>

  <!-- Description -->
  <div class="mt-6 cursor-pointer" (click)="showDescription()">
    <span class="font-semibold text-red-500">Description</span>
    <span class="text-gray-600 text-sm ml-2 italic"
      >({{ isShowDescription ? "less" : "more" }})</span
    >
  </div>
  <div
    *ngIf="isShowDescription"
    class="break-words"
    [innerHTML]="reddit.body || '[Empty]'"
  ></div>

  <hr class="border-gray-400 border-opacity-30 mt-6" />

  <!-- Question -->
  <div class="mt-6">
    <span class="font-semibold text-red-500">Question</span>
  </div>
  <div class="break-normal" [innerHTML]="reddit.question"></div>

  <!-- Answer -->
  <div class="mt-6">
    <span class="font-semibold text-red-500">Answer</span>
  </div>
  <div class="break-normal" [innerHTML]="reddit.answer"></div>

  <!-- View more -->
  <div class="mt-6 text-center">
    <span class="font-semibold text-red-500">
      <span class="ml-2 italic">
        <a
          routerLink="/view/{{ reddit.amaId }}"
          class="text-red-500"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >(See more)</a
        >
      </span>
    </span>
  </div>

  <!-- Source-->
  <div class="mt-6">
    <span class="font-semibold text-red-500">Source</span>
  </div>
  <div class=" truncate">
    <a href="{{ reddit.url }}" target="_blank">{{ reddit.url }}</a>
  </div>
</div>
<ng-template #elseBlock>
  <div class="text-center">
    <div class="mt-6">
      <fa-icon
        [icon]="faCircleNotch"
        [spin]="true"
        style="--fa-animation-duration: 0.7s"
        class="text-gray-400 fa-2x"
      ></fa-icon>
    </div>
  </div>
</ng-template>
