<div *ngIf="isRandomAMALoaded; else elseBlock" class="middle">
  <div *ngIf="isResultFound; else noResult">
    <!-- Title -->
    <div class="mt-6 flex flex-row">
      <span class="font-semibold text-red-400">Title</span>
      <div class="flex-grow text-right truncate">
        <span class="font-semibold text-gray-600">{{
          redditList[0].timestamp
        }}</span>
      </div>
    </div>
    <div class="text-xl" [innerHTML]="redditList[0].title"></div>

    <!-- Description -->
    <div class="mt-6 cursor-pointer" (click)="showDescription()">
      <span class="font-semibold text-red-400">Description</span>
      <span class="text-gray-600 text-lg ml-2 italic"
        >({{ isShowDescription ? "less" : "more" }})</span
      >
    </div>
    <div
      *ngIf="isShowDescription"
      class="text-xl break-words"
      [innerHTML]="redditList[0].body || '[Empty]'"
    ></div>

    <div class="mt-6" *ngFor="let reddit of redditList">
      <hr class="border-gray-700 border-opacity-40" />
      <!-- Question -->
      <div class="mt-6">
        <span class="font-semibold text-red-400">{{ reddit.qaId }}.</span>
        <span class="font-semibold text-red-400 ml-2">Question</span>
      </div>
      <div class="text-xl break-normal" [innerHTML]="reddit.question"></div>

      <!-- Answer -->
      <div class="mt-6">
        <span class="font-semibold text-red-400">Answer</span>
      </div>
      <div class="text-xl break-normal" [innerHTML]="reddit.answer"></div>
    </div>

    <!-- View more -->
    <div *ngIf="!hideSeeMore" class="mt-6 text-center">
      <span class="font-semibold text-red-400 cursor-pointer">
        <span class="text-xl ml-2 italic">
          <a
            (click)="viewMore()"
            class="text-red-400"
            >(See more)</a
          >
        </span>
      </span>
    </div>

    <!-- Source-->
    <div class="mt-6">
      <span class="font-semibold text-red-400">Source</span>
    </div>
    <div class="text-xl truncate">
      <a href="{{ redditList[0].url }}" target="_blank">{{
        redditList[0].url
      }}</a>
    </div>
  </div>
  <ng-template #noResult>
    <div class="text-center">
        <div class="mt-6">
          <span>No result found.</span>
        </div>
      </div>
</ng-template>
</div>
<ng-template #elseBlock>
  <div class="text-center">
    <div class="mt-6">
      <fa-icon
        [icon]="faCircleNotch"
        [spin]="true"
        style="--fa-animation-duration: 0.7s"
        class="text-gray-700 fa-2x"
      ></fa-icon>
    </div>
  </div>
</ng-template>
