<div *ngIf="isRandomAMALoaded; else elseBlock" class="middle card-view rounded-md p-6 shadow">
  <div *ngIf="isResultFound; else noResult">
    <!-- Title -->
    <div class="mt-6 flex flex-row">
      <span class="font-semibold text-red-500">Title</span>
      <div class="flex-grow text-right truncate">
        <span class="text-sm text-gray-500 italic">{{ totalAnswer }} answers</span>
        <span class="ml-3 text-sm text-gray-500 italic pr-2">{{
          redditList[0].timestamp
        }}</span>
      </div>
    </div>
    <div class="" [innerHTML]="redditList[0].title"></div>

    <!-- Description -->
    <div class="mt-6 cursor-pointer" (click)="showDescription()">
      <span class="font-semibold text-red-500">Description</span>
      <span class="text-gray-600 text-sm ml-2 italic"
        >({{ isShowDescription ? "less" : "more" }})</span
      >
    </div>
    <div
      *ngIf="isShowDescription"
      class="break-words"
      [innerHTML]="redditList[0].body || '[Empty]'"
    ></div>

    <div class="mt-6" *ngFor="let reddit of redditList">
      <hr class="border-gray-400 border-opacity-30" />
      <!-- Question -->
      <div class="mt-6">
        <span class="font-semibold text-red-500">{{ reddit.qaId }}.</span>
        <span class="font-semibold text-red-500 ml-2">Question</span>
      </div>
      <div class="break-normal" [innerHTML]="reddit.question"></div>

      <!-- Answer -->
      <div class="mt-6">
        <span class="font-semibold text-red-500 ml-2">Answer</span>
      </div>
      <div class="break-normal" [innerHTML]="reddit.answer"></div>
    </div>

    <!-- View more -->
    <div *ngIf="showSeeMore" class="mt-6 text-center">
      <span class="font-semibold text-red-500 cursor-pointer">
        <span class="ml-2 italic">
          <a
            (click)="viewMore()"
            class="text-red-500"
            >(Load more)</a
          >
        </span>
      </span>
    </div>

    <!-- Source-->
    <div class="mt-6">
      <span class="font-semibold text-red-500">Source</span>
    </div>
    <div class="truncate">
      <a href="{{ redditList[0].url }}" target="_blank">{{
        redditList[0].url
      }}</a>
    </div>
  </div>
  <ng-template #noResult>
    <div class="text-center">
        <div class="mt-6">
          <span>No result found.</span>
        </div>
      </div>
</ng-template>
</div>
<ng-template #elseBlock>
  <div class="text-center">
    <div class="mt-6">
      <fa-icon
        [icon]="faCircleNotch"
        [spin]="true"
        style="--fa-animation-duration: 0.7s"
        class="text-gray-400 fa-2x"
      ></fa-icon>
    </div>
  </div>
</ng-template>
