/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

a {
  color: #4c808c;
  text-decoration: none;
}

.card-view {
  background-color: #f6f6f6;
}
