/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

a {
  color: #4c808c;
  text-decoration: none;
}
